<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpCookies httpOnlyCookies="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="100000" requestValidationMode="2.0" />
  </system.web>

  <connectionStrings>
    <!--<add connectionString="Server=.\SQLEXPRESS;Database=eos_xmlprofile;Trusted_Connection=True" name="xmlprofile" providerName="System.Data.SqlClient"/>-->

    <add connectionString="server=localhost;Database=eos_xmlprofile;Uid=cylim;Password=p@ssw0rd" name="xmlprofile" providerName="System.Data.SqlClient" />
    <add connectionString="server=localhost;Database=eos_h2h_gct;Uid=cylim;Password=p@ssw0rd" name="eos_h2h_gct" providerName="System.Data.SqlClient" />
	  <add connectionString="server=localhost;database=eos_ums;Uid=cylim;Password=p@ssw0rd" name="eos_ums" providerName="System.Data.SqlClient" />
	  <add connectionString="server=localhost;Database=eos_log;Uid=cylim;Password=p@ssw0rd" name="eos_log" providerName="System.Data.SqlClient" />
	   <add connectionString="server=localhost;Database=edm;Uid=cylim;Password=p@ssw0rd" name="edm" providerName="System.Data.SqlClient" />
	   <add connectionString="server=localhost;Database=HR_System;Uid=cylim;Password=p@ssw0rd" name="HR_System" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
   <system.webServer>
     <modules runAllManagedModulesForAllRequests="true" />
      <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
        <defaultDocument>
            <files>
                <add value="Default.cshtml" />
            </files>
        </defaultDocument>
   </system.webServer>

</configuration>