<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        @RenderPage("../css.cshtml")
    </head>
    <body>
	<form action="Employee_Registration_Save.cshtml" id="Employee_Register_Save" method="post" name="Employee_Register_Save" target="">
		<div id="wrapper">
			<div id="page-wrapper" style="background-color:#fff; margin: 0px 0px 0px 0px">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="page-header">Leave</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								Apply Leave
							</div>
							<div class="panel-body">
								<div class="row">
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Name
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="name" name="name" type="text">
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Date From
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="date_from" name="date_from" type="date">
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Date To
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="date_to" name="date_to" type="date">
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Reason
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<input class="form-control" id="reason" name="reason" type="text">
														</div>
													</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
													<div class="col-sm-4">
														<div class="form-group">
															Type Of Leave
														</div>
													</div>
                          <div class="col-sm-6">
														<div class="form-group">
															<select class="form-control" id="type_of_leave" name="type_of_leave">
                                <option value="Please_Select">Please Select</option>
															  <option value="Annual_Leave">Annual Leave</option>
                                <option value="Unpaid_Leave">Unpaid Leave</option>
                                <option value="Emergency_Leave">Emergency Leave</option>
															</select>
														</div>
													</div>

                                <div class="row" style="text-align: center">
                									<div class="col-sm-12">
                										<div class="col-sm-4"></div>
                										<div class="col-sm-2">
                											<button class="btn btn-primary" type="button" id="submit_button" name = "submit_button">Apply</button>
                										</div>
                										<div class="col-sm-2">
                											<button class="btn btn-success" onclick="" type="button">Back</button>
                										</div>
                									</div>
                								</div>
</html>
